* {
    padding: 0px;
    box-sizing: content-box;
    margin: 0px;
}

@font-face {
    font-family: 'wizarding world';
    src: url('../font/WizardWorldSimplified-Kxr7.ttf');
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/imagem_fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family:'wizarding world';
    color: rgb(196, 165, 103);
    font-size: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

h3 {
    font-family:'Times New Roman', Times, serif;
    color: rgb(211, 170, 88);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 2%;
}

p {
    font-family:'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 24zypx;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 1%;
}

.imagem-container {
    display: flex;
    flex-direction: row; /* alinha as imagens horizontalmente */
    justify-content: center; /* centraliza as imagens no eixo X */
    align-items: center; /* centraliza as imagens no eixo Y */
  }
  
  .imagem-container img {
    width: 400px;
    margin-right: 50px; /* adiciona uma margem entre as imagens */
  }
